.c-container {
  width: 80%;
  display: flex;
  gap: 1rem;
  margin: auto;
  align-items: center;
}

.c-container>div{
    flex: 1;
}


.c-left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
} 

/* .row {
    width: 100%;
    
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
  
}
.field1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.box1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 1px 3px 2px 1px;
    gap: 1rem 1.5rem;
  }
  
  .icon {
    width: 3rem;
    display: flex;
    align-items: center;
  }
  
  .icon-style {
    width: 2rem;
    height: 1rem;
  }
  
  .text {
    flex: 1; /* Allow the text to take up remaining space */
  }
  
  button {
    width: 100%; /* Button takes full width */
  }
  
  /* Add any other styles you need */
  



/* .box1 {
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Vertically align the icon and span 
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 1px 3px 2px 1px;
    gap: 1rem 1.5rem;
  }
  
  .icon {
    width: 3rem;
    display: flex;
    align-items: center; /* Vertically align the icon within the icon container 
  }
  
  .icon-style {
    width: 2rem;
    height: 1rem;
  }
  
  .box-detail {
    flex: 1; /* Allow the span and button to take up remaining space 
  }
   
  /* Add any other styles you need */
  
/* .box1{

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 2rem;
    /* border: 2px solid rgba(234,240,165, 0.34); 
    box-shadow: 1px 3px 2px 1px;
    gap: 1rem 1.5rem;

}
.icon{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1rem;
    width: 3rem;
}
.icon-style{
    width: 2rem;
    height: 1rem;
}

 */ */
